.border-radius {
  border-radius: 50%; /* Tạo hình tròn */
  display: inline-block;
}
.AdminHome {
  &-heading {
    padding: 20px;
    font-weight: 600;
    color: #545457;
    font-size: 18px;
  }
}
